@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* Hamburger Menu */
.hamburger {
	cursor: pointer;
	width: 24px;
	aspect-ratio: 1 / 1;
	transition: all 0.25s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 24px;
	height: 2px;
	top: 0;
	left: 0;
	background: hsl(229, 31%, 21%);
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
	background: #fff;
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
	background: #fff;
}

/* Features Section: Tabs */
.tab {
	transition: all 0.2s;

	padding: 10px 10px 10px 10px;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid transparent;
	border-bottom: 5px solid transparent;

	&:not(.active-tab):hover {
		border-top: 1px solid #e5e7eb;
		border-right: 1px solid #e5e7eb;
		border-left: 1px solid #e5e7eb;
		border-bottom: 5px solid #d2d4d8;
	}
}

.active-tab {
	border: 1px solid #adafb3;
	border-bottom: 5px solid hsl(0, 94%, 66%);
	background-color: hsl(231, 69%, 60%);
	color: #fff;

	animation: border-animation 0.5s;
	box-shadow: 0px 0px 30px -23px rgba(0, 0, 0, 0.75);
}

@keyframes border-animation {
	0% {
		border-bottom: 0px solid hsl(0, 94%, 66%);
	}

	100% {
		border-bottom: 5px solid hsl(0, 94%, 66%);
	}
}

/* FAQ Section */

.arrow.open {
	transition: all 0.3s;
	transform: rotate(-180deg);

	.stroke {
		stroke: hsl(0, 94%, 66%);
	}
}

.question:hover .arrow {
	animation: bounce 0.5s infinite;
}

.question:hover .arrow.open {
	animation: open-bounce 0.5s infinite;
}

.question:has(.open) {
	background-color: rgb(226, 232, 240);
}

.answer-container {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s;

	& > p {
		overflow: hidden;
	}
}

.question.expand + .answer-container {
	grid-template-rows: 1fr;
}

@keyframes bounce {
	0% {
		transform: translateY(10px);
	}

	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(10px);
	}
}

@keyframes open-bounce {
	0% {
		transform: rotate(-180deg) translateY(10px);
	}

	0% {
		transform: rotate(-180deg) translateY(0px);
	}

	100% {
		transform: rotate(-180deg) translateY(10px);
	}
}
